.OrderSummary {
    text-align: center;
    margin: 4px;
}

.OrderList {
    margin: auto;
    width: 80%;
    text-align: left;
}

@media (min-width: 500px) {
    .OrderList {
        margin: auto;
        width: 30%;
        text-align: left;
    }
}